# Multi-Armed-Bandits-for-Recommendations-and-A-B-testing

In [1]:
import numpy as np
import pandas as pd

In [2]:
from libraries.ABTestSimulator import ABTestReplayer
from libraries.MAB import ThompsonSamplingReplayer
from libraries.EpsilonGreedy import EpsilonGreedyReplayer

from libraries.RealtimeUserSimulator import ReplaySimulator
from libraries.UCB import UCBSamplingReplayer

In [3]:
rating_df = pd.read_csv('data/top-n-movies_user-ratings.csv').drop(columns='Unnamed: 0')
rating_df.head()

   user_id  movie_id  rating         movie_title
0      307         0       4           Toy Story
1      250        99       4               Fargo
2       24       180       5  Return of the Jedi
3       19       287       1              Scream
4       31       293       3           Liar Liar

In [4]:
reward_threshold = 4
rating_df['reward'] = rating_df.eval('rating > @reward_threshold').astype(int)
rating_df.head()

   user_id  movie_id  rating         movie_title  reward
0      307         0       4           Toy Story       0
1      250        99       4               Fargo       0
2       24       180       5  Return of the Jedi       1
3       19       287       1              Scream       0
4       31       293       3           Liar Liar       0

In [5]:
n_visits = 20000
n_iterations = 20

reward_history = rating_df
item_col_name = 'movie_id'
visitor_col_name = 'user_id'
reward_col_name = 'reward'

## A/B Test Simulations

Test period = 1,000 visits

Run the test

In [ ]:
n_test_visits = 10
ab_1k_results = ABTestReplayer(n_visits, n_test_visits, reward_history,
                               item_col_name, visitor_col_name, reward_col_name,
                               n_iterations=n_iterations).replay()

In [ ]:
ab_1k_results_df = pd.DataFrame(ab_1k_results)
ab_1k_results_df.head()


$\epsilon$-Greedy Simulations


$\epsilon$ = 0.05

In [ ]:
epsilon = 0.05
epsilon_05_results = EpsilonGreedyReplayer(epsilon, n_visits, reward_history,
                                           item_col_name, visitor_col_name, reward_col_name,
                                           n_iterations=n_iterations).replay()

## Thompson Sampling Simulations

In [ ]:
thompson_results = ThompsonSamplingReplayer(n_visits, reward_history,
                                            item_col_name, visitor_col_name, reward_col_name,
                                            n_iterations=n_iterations).replay()

In [ ]:
ucb =2
thompson_results = UCBSamplingReplayer(ucb, n_visits, reward_history,
                                            item_col_name, visitor_col_name, reward_col_name,
                                            n_iterations=n_iterations).replay()

 15%|█▌        | 3/20 [02:51<16:11, 57.14s/it]